.more-info{
  margin-bottom: 30px;
}
.button-controls{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.song{
  margin-bottom: 20px;
}

.album-card{
  position:relative;
}

